
  main {
    margin-bottom: 90px;
  }

.bio-image{
  height: 350px
}
.portfolioheader{
  padding: 15;
  border: solid 1px black;
}

/* CSS for cards in portfolio */
.potrfoliobox { 
  flex-flow: column wrap;
  justify-content: center;
}

