/* added this class to be able to see the content under the footer */
main {
    margin-bottom: 90px;
  }
/* Adjust the size of the image in the bio */
.bio-image{
  height: 350px
}
.page-title{
  text-align: center;
  text-decoration: underline;
  padding: 15;
  /* border: solid 1px black; */
}

/* CSS for cards in portfolio */
.potrfoliobox { 
  flex-flow: column wrap;
  justify-content: center;
}

.carousel-caption{
  position: relative;
  top: -150px;
}

.container {
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
}

.center {
  position: absolute;
  top: 66%;
  width: 100%;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: black;
  background-color: rgb(74, 88, 104); 
  opacity: 0.8;

}